// Брейкпоинты
$md1: 1024 + px; //ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: 768 + px; // Планшеты, некоторые телефоны в горизонтальном положении
$md3: 425+ px; // Телефоны L
$md4: 320 + px; // Телефоны S

//Переменные
$bgColor: #222222;
$mainColor: #ffffff;
$secondColor: #F16D7F;
$hoverColor: #F1E4E6;


.navigation {
    background-color: #F8F3F4;
    &__container {
        display: grid;
        grid-template: minmax(auto, 148px) / 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        #current {
            font-size: 24px;
            line-height: 29px;
            color: $secondColor;
            text-transform: uppercase;
        }
        .navigation_way a{
            font-weight: 300;
            line-height: 17px;
            justify-self: end;
            text-transform: uppercase;
        }
        .navigation_way{
            justify-self: end;
            #current{
                font-weight: 700;
                font-size: inherit;
                line-height: inherit;
            }
        }
    }
    
}
/* media queries for navigation start */

@media (max-width:$md3) {
    .navigation {
        &__container {
            padding: 24px 0 46px 0;
            grid-template: auto / 1fr;
            justify-content: center;
            #current {
                justify-self: center;
                margin-bottom: 32px;
            }
            .navigation_way{
                justify-self: center;
            }
        }
        
    }
}

/* media queries for navigation end */

.gallery {
    background-color: #F7F7F7;
    position: relative;
    padding: 11px 0 42px  0;
    &__container{
        display: grid;
        place-content: center;
    }
    .imageContainer {
        max-width: 597px;
        max-height: 724px;
        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
    .btn_gallery{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 47px;
        height: 47px;
        background: rgba(42, 42, 42, 0.15);
        i {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .btn_gallery:hover{
        filter: opacity(95%);
        i {
           color: $secondColor;
        }
    }
    #btn_right{
        transform: rotate(90deg);
        right: 0;
    }
    #btn_left{
        transform: rotate(270deg);
        left: 0;
    }
}

.itemInfo {
    margin-top: 35px;
    &__container {
        display: grid;
        justify-content: center;
        border: 1px solid #EAEAEA; 
        background-color: $mainColor; 
        .itemInfoBox{
            max-width: 641px;
            display: grid;
            justify-items: center;
            margin-bottom: 65px; 
            .itemDescription{
                font-weight: 300;
                border-bottom: 1px solid #EAEAEA;
                    &__collection {
                        color:$secondColor;
                        text-transform: uppercase;
                        text-align: center;
                        margin-top: 65px;
                        
                    }
            
                    &__title {
                        text-transform: uppercase;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        margin-top: 27px;
                    }
            
                    &__description {
                        margin-top: 48px;
                        text-align: center;
                        padding: 0 43px;
                        color: #5E5E5E;
                        word-wrap: break-word;
                    }
            
                    &__price {
                        color: #EF5B70;
                        font-size: 24px;
                        line-height: 29px;
                        margin-top: 32px;
                        text-align: center;
                        text-transform: uppercase;
                        margin-bottom: 65px;
                    }
            }
            .itemForm{
                margin-top: 65px;
                display: grid;
                justify-items: center;
                &__tools{
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    column-gap: 20px;
                    .itemForm__tool{
                        position: relative;
                        &_heading{
                            text-transform: uppercase;
                            padding-right: 9px;
                            color: #6F6E6E;
                            cursor: pointer;
                            i{
                                margin-left: 9px;
                                transition: all, .3s;
                            }
                        }
                        &_list{
                            position: absolute;
                            transition: all, .3s;
                            transform: scaleY(0);
                            transform-origin: top;
                            margin-top: 5px;
                            width: 100%;
                            z-index: 1000;
                            border-radius: 10px;
                            display: grid;
                            row-gap: 8px;
                            padding: 9px;
                            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                            background-color: $mainColor;
                            &_item{
                                text-transform: uppercase;
                                color: #6F6E6E;
                                input {
                                    margin-right: 9px;
                                }
                                .numberInput{
                                    width: 100%;
                                    height: 20px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .itemForm__tool.active{
                        .itemForm__tool_heading i{
                            transform: scaleY(-1);
                        }
                        .itemForm__tool_list{
                            transform: scaleY(1);
                        }
                    }
                }
                &__addToCart{
                    background-color: $mainColor;
                    margin-top: 49px;
                    padding: 15px 24px;
                    border: 1px solid #FF6A6A;
                    color: #F26376;
                    font-size: 16px;
                    line-height: 19px;
                    transition: all, .3s;
                    i{
                        margin-right: 23px;
                        color: #EF5B70;
                    }
                }
                &__addToCart:hover{
                    background-color: #F26376;;
                    color: $mainColor;
                    i{
                        color: $mainColor;
                    }
                }
            }
        }
    } 
}

/*   media quieries  */

@media (max-width:$md2) {
    .itemInfo{
        margin-top: 0;
    }
    
}
@media (max-width:$md3) {
    .itemInfo{
        &__container {
            .itemInfoBox{
                .itemForm{
                    margin-top: 49px;
                    &__tools{
                        column-gap: 18px;
                        .itemForm__tool{
                            &_heading{
                                font-size: 13px;
                                line-height: 13px;
                                padding-right: 0;
                            }
                            &_list{
                                &_item{
                                    font-size: 13px;
                                    line-height: 13px;
                                }
                            }
                        }
                    }
                }
            }
        } 
    } 
}
@media (max-width:$md4) {
    .itemInfo{
        &__container {
            .itemInfoBox{
                .itemForm{
                    &__tools{
                        column-gap: 12px;
                        .itemForm__tool{
                            &_heading{
                                font-size: 11px;
                                line-height: 11px;
                            }
                            &_list{
                                &_item{
                                    font-size: 11px;
                                    line-height: 11px;
                                }
                            }
                        }
                    }
                }
            } 
        } 
    }
}


/*    section products start    */
.products {
    margin-top: 129px;
    margin-bottom: 128px;
    &__container {
        .productsBox{
            display: grid;
            gap: 30px;
            grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
            .productsItem{
                transition: box-shadow, .4s;
                background-color: #F8F8F8;
                display: grid;
                grid-template: auto 1fr auto / 1fr;
                .imageContainer{
                    position: relative;
                    display: grid;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    };
                }
                &__textContainer{
                    display: grid;
                    grid-template-rows: auto 1fr;
                    padding: 25px 18px 18px;
                    &__heading {
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                    &__text{
                        align-self: start;
                        margin-top: 13px;
                        font-weight: 300;
                        color: #5D5D5D;
                    }
                }
                &__button{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    padding: 0 18px;
                    &_price{
                        line-height: 19px;
                        text-transform: uppercase;
                        color:$secondColor;
                    }
                    #add_cart {
                        display: inline-block;
                        transition: all, .4s;
                        padding: 15px;
                        color: #222222;
                        font-size: 14px;
                        border: 1px solid $secondColor;
                        background-color: $mainColor;
                        cursor: pointer;
                        i {
                            font-size: 16px;
                            margin-right: 11px;
                        }
                    }
                    #add_cart:hover {
                        color: $mainColor;
                        background-color: $secondColor;
                    }
                }
            }
            .productsItem:hover {
                box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 15%);
                .imageContainer{
                    img {
                        filter:brightness(45%);
                    }
                }
            }
        }
    }
}

/*   media queries   */

@media (max-width:$md2) {
    .products{
        &__container {
            .productsBox{
                gap: 15px;
                .productsItem:nth-last-child(1){
                    display: none;
                }
            }
        }
    }
}
@media (max-width:$md3) {
    .products{
        margin-top: 32px;
        &__container {
            .productsBox{
                margin-top: 0; 
                justify-content: center;
                grid-template: auto / 1fr;
            }
        }
    }
}

/*    section products end    */

@import "index_components/_review.scss";