@use "sass:math";
//<МИКСИНЫ>==================================================================================================================================================================================
//@import "base/mixins"; //? Его нет
// ? Что такое миксины (ПОСМОТРЕТЬ УРОК О SCSS)
//</МИКСИНЫ>=================================================================================================================================================================================

//<ШРИФТЫ>===================================================================================================================================================================================

//<Подключение шрифтов>======================================================================================================================================================================
//&display=swap&subset=cyrillic-exit
// ? Что такое display=swap || subset=cyrillic-exit - подключает расширенную кириллицу
@import url("https://fonts.googleapis.com/css?family=Lato:300,regular,700&display=swap");
//@import "base/fonts"; // импорт шрифтов локально
//Regular - 400 Bold - 700 Light - 300

//</Подключение шрифтов>======================================================================================================================================================================

//<Иконочные шрифты>==========================================================================================================================================================================
//@import
//</Иконочные шрифты>=========================================================================================================================================================================

//<Шрифт по умолчанию>========================================================================================================================================================================
$fontFamily: "Lato";
$lineHeight: 17px;
$fontSize: 16px; // rem(14) - 14px размер шрифта по умолчанию из макета, rem - единица измерения
//</Шрифт по умолчанию>=======================================================================================================================================================================

//</ШРИФТЫ>===================================================================================================================================================================================

//<ПЕРЕМЕННЫЕ>================================================================================================================================================================================
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1600; // Ширина полотна (макета)
$maxWidthContainer: 1140; // Максимальная ширина ограничеющего контейнера
$containerPadding: 230; // Внутренние отступы контейнера
$padding: 16;

// Брейкпоинты
//$md1: $maxWidthContainer + $containerPadding + px; //ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md1: 1024px; //ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: 768px; // Планшеты, некоторые телефоны в горизонтальном положении
$md3: 425px; // Телефоны L
$md4: 320px; // Телефоны S



// Основной цвет шрифта
$mainColor: #000000;
//</ПЕРЕМЕННЫЕ>===============================================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================================================================================================================================================
@import "null"; // file _null.scss

body {
    color: $mainColor;
    font-family: $fontFamily, sans-serif;
    font-size: $fontSize;
    font-weight: 400;
    line-height: $lineHeight;
    &.lock {
        overflow: hidden; // пересечения блоков скрываются
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================================================================================

//<ОБОЛОЧКА>==================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: auto 1fr auto; // Прижатие футера по строкам: header main footer
    // Сайт загружен
    // .loaded & {
    // }
}
//</ОБОЛОЧКА>=================================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>============================================================================================================================================================================
/*
(i) Стили будут применяться ко всем
классам содержащим *__container
Например header__container, main_container и footer__container
Снипет (HTML): cnt //? Его нет
*/

// По брейкпоинтам
[class*="__container"] {
    max-width: $maxWidthContainer + (2 * $padding) + px;
    padding: 0 $padding + px;
    margin: 0 auto;
    @media (max-width: $md1) {
        max-width: $md1 + (2 * $padding);
    }
    @media (max-width: $md2) {
        padding: 0 $padding + px ;
        max-width: $md2 + (2 * $padding);
    }
    @media (max-width: $md3) {
        padding: 0 ($padding / 2) + px ;
        max-width: $md3 + (2 * $padding / 2);
    }
}

// Отзывчивая
/*
[class*="__container"]{
    max-width: $maxWidthContainer;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
}
*/
//</ОСНОВНАЯ СЕТКА>===========================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>======================================================================================================================================
// @import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=====================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=============================================================================================================================================

// Подключение базовых стилей
// Для подключения/отключения конкректных стилей смотри base.scss
// @import "base";

// Подключение стилей отдельный страниц

@import "header";
@import "footer";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================================================

//<ОСНОВНОЙ БЛОК>=============================================================================================================================================================================
.pager {
    min-width: 0;
}

//============================================================================================================================================================================================

//</ОСНОВНОЙ БЛОК>============================================================================================================================================================================
